In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import sklearn

In [8]:
from sklearn.datasets import load_iris

In [10]:
iris_data= load_iris() 
df = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

# method 1 ; using pandas sample() and random_state to create a training set , then using drop to store the remaing data

In [11]:
training_data = df.sample(frac=0.8, random_state = 25)
test_data = df.drop(training_data.index)

In [14]:
print(training_data.shape[0])

120

In [15]:
print(test_data.shape[0])

30

# method 2 ; using sklearns train_test_split()

In [18]:
from sklearn.model_selection import train_test_split
training_data , testing_data= train_test_split (df , test_size=0.2 , random_state = 25)

In [19]:
print(training_data.shape[0])

120

In [21]:
print(testing_data.shape[0])

30

In [22]:
training_data.head(10)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
54                 6.5               2.8                4.6               1.5
113                5.7               2.5                5.0               2.0
135                7.7               3.0                6.1               2.3
4                  5.0               3.6                1.4               0.2
115                6.4               3.2                5.3               2.3
52                 6.9               3.1                4.9               1.5
68                 6.2               2.2                4.5               1.5
40                 5.0               3.5                1.3               0.3
23                 5.1               3.3                1.7               0.5
35                 5.0               3.2                1.2               0.2

In [23]:
testing_data.head(10)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
28                 5.2               3.4                1.4               0.2
72                 6.3               2.5                4.9               1.5
70                 5.9               3.2                4.8               1.8
85                 6.0               3.4                4.5               1.6
128                6.4               2.8                5.6               2.1
65                 6.7               3.1                4.4               1.4
127                6.1               3.0                4.9               1.8
42                 4.4               3.2                1.3               0.2
81                 5.5               2.4                3.7               1.0
93                 5.0               2.3                3.3               1.0