In [4]:
1.# SELECT AND FROM clauses work the same was to basic mysql code , with the main disparity being that the FROM clause in reference
# to the dataset selected must begin and end with backticks

1.0

In [7]:
# The first step in writing a query in big query stars with creating a client object as usual

In [8]:
client = bigquery.Client()

NameError: name 'bigquery' is not defined

In [9]:
# the next step is setting the query with query() method

In [10]:
# Set up the query
query_job = client.query(query)

NameError: name 'client' is not defined

In [11]:
# API request - run the query, and return a pandas DataFrame
us_cities = query_job.to_dataframe()

NameError: name 'query_job' is not defined

In [ ]:
# What five cities have the most measurements?
us_cities.city.value_counts().head()

In [1]:
query=""""
    SELECT Name 
    From ` bigquery-public-data.pet_records.pets`
    """

In [5]:
#2. The where clause : For isntnace e want to select all the values from the city column that are in rows where the country column is 'US' (for "United States").

In [6]:
query=""""
    SELECT city 
    FROM `bigquery-public-data.openaq.global_air_quality`
    WHERE Country="US"
    """